# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Dataset files (CSV, Excel, etc.)
*.csv
*.xlsx
*.xls
*.json

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE folders
.vscode/
.idea/

# Jupyter notebooks (optional)
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store
Thumbs.db